// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** PAGING ***/

#adverts tr th a{color: #ffffff;}

.pagination {}
.pagination .previous_page { float: left; padding: 0 14px; line-height: 34px; border: 1px solid #DDD; }
.pagination .next_page { float: left; padding: 0 14px; line-height: 34px; border: 1px solid #DDD; border-left:0; }
.pagination .previous_page.disabled { color:#999999; background:#eeeeee; }
.pagination em { float: left; padding: 0 14px; line-height: 34px; border: 1px solid #DDD; border-left:0; color:#ffffff; background:#03376B; }
.pagination span { float: left; padding: 0 14px; line-height: 34px; border: 1px solid #DDD; border-left:0; color:#000; background:#fff; }