/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require adverts
 *= require_self
*/

/* Declare any variables before the @import "bootstrap" command below */
/* $primaryButtonBackground: #f00; */
@import "bootstrap";


body {background:image-url('page_bg.jpg') #FFFFFF repeat-x top; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; line-height:18px;}
.shadow {-ms-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 30px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 8px 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 30px;}
.rounded-corners {-moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px;}
.clear {clear:both;}
a img {border:0px;}
#content strong{color: #003663;}

/*HEADER*/

#header .login_box {background:image-url('grey_tile.gif'); height:15px; color:white; font-size:14px; text-align:center; padding:15px 0;}
#header .login_box a {color:white;}

#header .logo {padding-top:30px;}

#header .nav {float:right; padding:35px 0; margin-bottom: 0;margin-top: 7px;}
#header .nav li {float:left; padding-right:5px; font-family: 'Anton', sans-serif; font-size:18px; text-transform:uppercase; }
#header .nav li:last-child {padding-right:0;}
#header .nav li a {color:#333333;}

#header .nav-pills .selected a, .nav-pills .selected a:hover {border:0; background:image-url('orange_tile.gif'); color:white;}
#header .nav .caret {opacity:1; border-top-color:#000000; border-bottom-color:#000000;}
#header .open .caret {border-top-color:#FFFFFF; border-bottom-color:#FFFFFF;}
#header .nav-pills > li > a {padding:8px 15px; line-height:18px;}
#header .nav-pills .open .dropdown-toggle, .nav li.dropdown.open.selected a:hover {border:0; background:image-url('orange_tile.gif'); color:white;}
#header .dropdown-menu {background:image-url('orange_tile.gif'); border:0; padding:8px;}
#header .dropdown-menu li {padding-right:0; width:100%;}
#header .dropdown-menu li a {color:white; font-size:15px; padding:8px;}
#header .dropdown-menu li a:hover {background-color:#d48312;}

/*SEARCH*/
#search .tab_bg {background:image-url('grey_tile.gif'); height:290px;}
#search .nav-tabs {background-color:white;}
#search .nav-tabs .active a, .nav-tabs .active a:hover {background:image-url('grey_tile.gif'); border:0; color:white; font-size:14px; padding:10px 20px; margin-bottom:-1px;}
#search .nav-tabs li a{background:image-url('tab_bg.gif'); border:0; color:#999999; font-size:14px; padding:10px 20px; margin-bottom:-1px;}
#search .tab_table {border-top: 1px dotted #03376b; margin-top: 10px}
#search .tab-content {background-color:white; margin:20px; padding:20px; height:170px;}
#search .tab-content p {margin:0;}
#search .tab-content ul {list-style:none; margin:0 0 0 -5px; padding:0;}
#search .tab-content li {float:left; background:image-url('business_list_bg.gif') no-repeat right; padding:0 5px;}
#search .tab-content li:last-child {background:none;}
#search .tab-content li a {color:#333333;}
#search .tab-content h3 {margin:0; padding:20px 0 10px 0; border-bottom:1px dotted #03376b;}
#search .tab-content .tab_table {height:100px; overflow-y:scroll;}

#search .quick_search {background:image-url('blue_tile.gif'); padding:20px; color:white;padding-bottom: 26px;}
#search .quick_search h2 {color:#FFFFFF; margin:0 0 20px 0; padding-bottom:10px; border-bottom:1px dotted white; text-align:right;}
#search .quick_search hr {height: 0px; border: 1px dotted white; border-bottom: 0px; margin:20px 0 10px 0;}
#search .quick_search .links {font-size:10px; line-height:14px;}
#search .quick_search a {color:white;}

#search form select {margin-bottom:6px; width:180px;}

/*CONTENT*/

#content .business {background-color:#E0E0E0; margin-bottom:20px; padding:20px 20px 10px 20px; position:relative}
#content .business .ribbon {position:absolute; top:-5px; left:-5px;}
#content .business img {float:left; margin-right:20px;}
#content .business .info {float:right; width:500px;}
#content .business .info p {height:50px; overflow:hidden;}
#content .business .province {background:image-url('pin.gif') no-repeat right; color:black; float:right; padding-right:20px;}
#content .business h3 {font-family:Arial, Helvetica, sans-serif; margin:0; text-transform:capitalize; float:left;}
#content .business hr {height: 0px; border: 1px dotted #03376b; border-bottom: 0px; margin:10px 0 20px 0;}
#content .business .details {background:image-url('blue_tile.gif'); padding:5px 10px; text-align:center; line-height:16px; color:white; float:right; margin:20px 0 0 5px;}
#content .business .value {font-weight:bold;}
#content .business .measure {font-size:9px; text-transform:uppercase;}

#content .side_content { padding:90px 0 0 0; }

#content .side_pod {background:image-url('orange_tile.gif'); padding:20px; color:white; margin-bottom:20px; text-align:center;}
#content .side_pod h2 {color:#FFFFFF; margin:0; text-align:right;}
#content .side_pod span {color:#333333;}
#content .side_pod hr {height: 0px; border: 1px dotted white; border-bottom: 0px; margin:10px 0;}
#content .side_pod p {text-align:left;}
#content .side_pod .btn {width:128px;}
#content .side_pod img {padding:0 5px;}

#content .side_pod.blue { background:image-url('blue_tile.gif'); }

/*GENERAL STYLING*/

h1 {font-family: 'Anton', sans-serif; font-size:30px; color:#03376b; line-height:30px; font-weight:normal; margin:30px 0; text-transform:uppercase;}
h2 {font-family: 'Anton', sans-serif; font-size:24px; color:#03376b; line-height:24px; font-weight:normal; margin:20px 0; text-transform:uppercase;}
h3 {font-family: 'Anton', sans-serif; font-size:18px; color:#03376b; line-height:18px; font-weight:normal; margin:15px 0; text-transform:uppercase;}

ul, ol {margin:0;}
#content { ul,ol{padding: 0; margin: 0 0 9px 25px;}}

a {color:#03376b;}
a:hover {color:#03376b;}

table {width:100%; margin:0; border-collapse:collapse;}
td {padding:8px 8px; margin:0px; line-height:18px;}
table tr:nth-child(odd) {background:#e0e0e0;}
th {padding:8px 8px; background:#003663; color:#ffffff; text-align:left; font-size:13px; font-weight:normal;}

.image-align-left {float:left; margin:0 10px 0 0;}
.image-align-right {float:right; margin:0 0 0 10px;}
.text-align-left {text-align:left;}
.text-align-right {text-align:right;}

.text_yellow { color:#fd9e03 !important; }

/*ADVERT SHOW PAGE*/

#content .advert_show .large { padding:15px 15px; margin-top:0px; }
#content .advert_show .large .value { font-size:24px; line-height:24px; font-weight:normal; }
#content .advert_show .large .measure { font-size:12px; }
#content .advert_show .yellow { background:image-url('orange_tile.gif'); }

#content .advert_show .business h3 span { font-size:13px; }
#content .advert_show .business table { margin:20px 0 10px 0; }
#content .advert_show .business table tr:nth-child(odd) {background:#f4f4f4;}
#content .advert_show .business .img_holder { float:left; }

/*FOOTER*/

#footer_top {background:image-url('grey_tile.gif'); margin-top:20px; padding:40px 0 35px 0; color:#999999;}
#footer_top h3 { margin:0 0 10px 0; color:#999999;}
#footer_top ul {list-style:none; margin:0; padding:0;}
#footer_top li {padding-bottom:5px;}
#footer_top a {color:#999999;}
#footer_top a:hover {color:#ec9a27; text-decoration:none;}
#footer_top img {padding-right:10px; float: left;}
#footer_top .address {float:left;}

#footer_bottom {background-color:#000000; padding:20px;}
#footer_bottom .copyright {padding-top:15px;}
#footer_bottom a {color:#333333;}
#footer_bottom a:hover {color:#ec9a27; text-decoration:none;}

/*** BOOTSTRAP BTNS ***/

.btn-left { float: left; }
.btn-right { float: right; }

.btn-primary,
.btn-custom {
    font-family:Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    background-color: hsl(0, 0%, 20%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#464444", endColorstr="#343434");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#464444), to(#343434));
    background-image: -moz-linear-gradient(top, #464444, #343434);
    background-image: -ms-linear-gradient(top, #464444, #343434);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464444), color-stop(100%, #343434));
    background-image: -webkit-linear-gradient(top, #464444, #343434);
    background-image: -o-linear-gradient(top, #464444, #343434);
    background-image: linear-gradient(#464444, #343434);
    border-color: #464444 #343434 hsl(0, 0%, 20%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
    -webkit-font-smoothing: antialiased;
}

#content .banner_pod {background: none; padding: 0;}
#content .banner_pod img {padding:0;}
