<div id="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="copyright">
          <a href="#">Terms of Use</a>  I  <a href="#">Privacy Policy</a> | <a href="#">Site map</a><br/>
          &copy; Alliance Capital.
        </div>
      </div>
      <div class="span3"><%= image_tag("logo_greyscale.gif")%>
      </div>
    </div>
  </div>
</div>