<div id="footer_top">
  <div class="container">
    <div class="row">

      <%= footer_sub_menu(Refinery::Setting.find_or_set(:first_footer_menu,'Mergers & Acquisitions')) %>
      <%= footer_sub_menu(Refinery::Setting.find_or_set(:second_footer_menu,'Investing')) %>
      <%= footer_sub_menu(Refinery::Setting.find_or_set(:third_footer_menu,'About Us')) %>

      <div class="span3">
        <h3>Contact</h3>
        <ul>
          <li><%= image_tag("envelope.png")%><a href="mailto:info@alliancecapital.co.za " target="_blank">info@alliancecapital.co.za</a></li>
          <li><%= image_tag("pin_orange.png")%><div class="address">Eglin Office Park<br/>Sunninghill<br/>Johannesburg </div></li>
          <div class="clear"></div>
          <li><%= image_tag("telephone.png")%>011 287 2090</li><br>
          <li><%= image_tag("pin_orange.png")%><div class="address">The Courtyard<br/>Century City<br/>Cape Town</div></li>
          <div class="clear"></div>
          <li><%= image_tag("telephone.png")%>021 180 4090</li>

        </ul>
      </div>
    </div>
  </div>
</div>