<div id="header">
  <div class="row">
    <div class="span3 offset9">
      <!--<div class="login_box rounded-corners">This must be removed.</div>-->
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="logo"><%= image_tag('logo.jpg') %></div>
    </div>
    <div class="span8">
      <div>
        <%= render(:partial => "/refinery/menu") %>
      </div>
    </div>
  </div>
</div>