<div class="row">
  <div class="span12"><h1>Key Mergers & Acquisition Opportunities</h1></div>
</div>
<div class="row">
  <div class="span9">
    <%= render :partial => 'shared/home/advert', :collection => top_adverts(2) %>
  </div>
  <div class="span3">
    <%= render :partial => 'refinery/pods/shared/pods' %>
  </div>
</div>
