<div class="quick_search rounded-corners">
  <h2 class="white">Quick Search</h2>

  <%= form_tag(main_app.adverts_path, :method => :get, :class => 'form-horizontal') do %>
    <%= select_tag :division_id, options_from_collection_for_select(active_divisions, :id, :name, params[:division_id]), :prompt => '-- All Categories --' %>
    <%= select_tag :vertical_id, vertical_options(active_divisions), :prompt => '-- All Sub Categories --' %>
    <%= select_tag :price_range, price_range_options, :prompt => '-- All Prices --' %>
    <%= select_tag :location_id, location_options, :prompt => '-- All Locations --' %>
    <hr>
    <button type="submit" class="btn btn-primary btn-right">Search</button>
  <% end %>

  <div class="links">
    > <%= link_to('View All', main_app.adverts_path) %>
  </div>
</div>