<div id="search">
  <div class="row">
    <div class="span9">
      <div class="tab_bg rounded-corners">
        <ul class="nav nav-tabs">
          <% active_divisions.each_with_index do |division, index| %>
            <li<%= index == 0 ? raw(" class=\"active\"") : '' %>>
              <a data-toggle="tab" href="#<%= tab_name(division) %>"><%= division.tab_name %></a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <% active_divisions.each_with_index do |division, index| %>
            <div class="tab-pane <%= index == 0 ? 'active' : '' %>" id="<%= tab_name(division) %>">
              <ul>
                <% division.verticals.order(:name).each do |v| %>
                  <li><%= link_to(v.name_with_advert_count, main_app.adverts_path(:vertical_id => v.id)) %></li>
                <% end %>
              </ul>
              <div class="clear"></div>
              <!--<h3><%#= division.name %> Merger and Acquisition Opportunities</h3>-->
              <div class="tab_table">
                <table>
                  <% division.top_adverts(7).each do |advert| %>
                    <tr>
                      <td><%= link_to(advert.product.company_type, main_app.advert_path(advert)) %></td>
                      <td><%= advert.product_location.name %></td>
                        <% if advert.product_annual_turnover.present? %>
                          <td>Turnover: <%= rands_without_cents(advert.product_annual_turnover) %></td>
                        <% end %>
                      <% if advert.product_price.present? %>
                        <td>Price: <%= rands_without_cents(advert.product_price) %></td>
                      <% end %>

                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    <div class="span3">
      <%= render :partial => 'shared/quick_search' %>
    </div>
  </div>
</div>