<% content_for :body_content_left do %>

<% @adverts.each do |advert| %>
  
  <%= render '/shared/home/advert', :advert => advert %>
  
<% end %>

<%= will_paginate @adverts %>

<% end %>

<%= render '/refinery/content_page' %>