<%= content_for :body_content_title do  %>
  <%= @advert.product.company_type %>
<% end %>

<% content_for :body_content_left do %>

<div class="advert_show">


<div class="business rounded-corners">
  <div class="ribbon"><%= image_tag('ribbon.png') %></div>
  <% if @advert.product.document.present? %>
    <%= image_tag(@advert.product.document.url,:size => '130x130') %>
  <% end %>
  <div class="info">
    <h3>Investor Details - <span>Reference <%= @advert.ref_number %></span></h3>
    <div class="province"><%= @advert.product_location.name %></div>
    <div class="clear"></div>
    <hr>

    <% if @advert.product_price.present? %>
    <div class="details large rounded-corners">
      <div class="value"><%= rands_without_cents(@advert.product_annual_net_profit) %></div>
      <div class="measure">Profit & Loss Requirements</div>
    </div>
    <% end %>
    <% if @advert.product_price.present? %>
    <div class="details large yellow rounded-corners">
      <div class="value"><%= rands_without_cents(@advert.product_price) %></div>
      <div class="measure">Approximate Investment Available</div>
    </div>
    <% end %>

    <!--<div>-->
      <!--Interested is this business?<br><br>-->
      <!--<%#= link_to('Contact Us Today', "mailto:#{@advert.product_vertical.division.email}", :class => 'btn btn-large btn-primary') %>-->
    <!--</div>-->

    <div class="clear"></div>

    <table>
    <%#= advert_table_row('Category', @advert.product_vertical.name) if @advert.product_vertical.present? %>
    <%#= advert_table_row('Reference', @advert.ref_number) %>
    <%#= advert_table_row('Email', @advert.product_email) %>
    <%#= advert_table_row('Mobile', @advert.product_mobile) %>
    <%#= advert_table_row('Location', @advert.product_location.name) if @advert.product_location.present? %>
    <%#= advert_table_row('Trading As', @advert.product_trading_as) %>
    <%#= advert_table_row('Registration Number', @advert.product_registration_number) %>
    <%#= advert_table_row('Price', rands_without_cents(@advert.product_price)) if @advert.product_price.present? %>
    <%#= advert_table_row('Current Owner', @advert.product_current_owner) %>
    <%#= advert_table_row('Primary Sector', @advert.product_primary_sector) %>
    <%#= advert_table_row('Annual Profit', rands_without_cents(@advert.product_annual_net_profit)) if @advert.product_annual_net_profit.present? %>
    <%#= advert_table_row('Total Assets', rands_without_cents(@advert.product_total_assets)) if @advert.product_total_assets.present? %>
    <%#= advert_table_row('Stock Value', rands_without_cents(@advert.product_stock)) if @advert.product_stock.present? %>
    <%#= @advert.product_annual_turnover.present? ?  advert_table_row('Turnover', rands_without_cents(@advert.product_annual_turnover)) : advert_table_row('Turnover', 'Available On Request')   %>
  </table>

  </div>
  <div class="clear"></div>
</div>


  <div class="advert_description">

  <% if @advert.product_description.present? %>
    <h2>Business Description</h2>
    <p><%= @advert.product.summary %></p>
    <p><%= raw @advert.product_description %></p>
  <% end %>

    <h2 class="text_yellow">Interested?</h2>
    <%= link_to('Find Out More', "mailto:#{@advert.product_vertical.division.email}", :class => 'btn btn-large btn-primary') %>

  </div>

</div>

<% end %>

<% content_for :side_content do %>

<div class="side_pod blue rounded-corners advert_description">
  <h2>Interested in this opportunity?</h2>
  <hr>
  <p>Let our dedicated team help you through every step of the acquisition process.</p>
  <%= link_to('Enquire Now', "mailto:#{@advert.product_vertical.division.email}", :class => 'btn btn-large btn-primary') %>
</div>

<% end %>

<%= render '/refinery/content_page' %>
