<!-- Top Navigation Bar Start -->
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
<a class="brand" href="<%= doppelbock.home_path %>">
  <i class="icon-home icon-white"></i>
</a>
<% if doppelbock_user_signed_in? %>
<div class="nav-collapse">
  <ul class="nav menu_links">
    <li class="divider-vertical"></li>

    <%= render :partial => 'doppelbock/layouts/custom_navigation' %>

    <%= render :partial => 'doppelbock/layouts/products_menu' %>

    <%= render :partial => 'doppelbock/layouts/buyers_menu' %>

    <li>
        <a href="<%= doppelbock.adverts_path %>"><i class="icon-tasks icon-white"></i> Adverts</a>
    </li>

    <li class="divider-vertical"></li>

    <li>
      <a href="<%= doppelbock.sales_summary_path %>"><i class="icon-shopping-cart icon-white"></i> Sales</a>
    </li>

    <li class="divider-vertical"></li>

    <%= render :partial => 'doppelbock/layouts/documents_menu' %>

    <li class="divider-vertical"></li>

    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-cog icon-white"></i> Operations <b class="caret"></b></a>
      <ul class="dropdown-menu">
      <li><a href="<%= doppelbock.interviews_summary_path %>"><i class="icon-eye-open"></i> Leads</a></li>
      <%= render 'doppelbock/layouts/subnav/cvlogs' %>
      <%= render :partial => 'doppelbock/layouts/specs_menu' %>
      <%= render :partial => 'doppelbock/layouts/tacs_menu' %>
      <%= render(:partial => 'doppelbock/layouts/subnav/consultant_reports') if can? :manage, ::Doppelbock::ConsultantReport %>
      </ul>
    </li>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-wrench icon-white"></i> Configuration <b class="caret"></b></a>
      <ul class="dropdown-menu">
          <%= content_tag(:li, link_to("Divisions", doppelbock.divisions_path)) if can? :manage, ::Doppelbock::Division %>
          <%= content_tag(:li, link_to("Verticals", doppelbock.verticals_path)) if can? :manage, ::Doppelbock::Vertical %>
          <%= content_tag(:li, link_to("Branches", doppelbock.branches_path)) if can? :manage, ::Doppelbock::Branch %>
          <%= content_tag(:li, link_to("Teams", doppelbock.teams_path)) if can? :index, ::Doppelbock::Team %>
          <%= content_tag(:li, nil, class: 'divider') %>
          <%= content_tag(:li, link_to(content_tag(:i, nil, class: "icon-map-marker") + " Locations", doppelbock.locations_path)) if can? :manage, ::Doppelbock::Location %>
          <%= content_tag(:li, link_to(content_tag(:i, nil, class: "icon-map-marker") + " Provinces", doppelbock.regions_path)) if can? :manage, ::Doppelbock::Region %>
          <%= content_tag(:li, link_to(content_tag(:i, nil, class: "icon-map-marker") + " Countries", doppelbock.countries_path)) if can? :manage, ::Doppelbock::Country %>
      </ul>
    </li>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-pencil icon-white"></i> Admin <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <%= content_tag(:li, link_to("Manage Users", doppelbock.admin_users_path)) if can? :manage, ::Doppelbock::AdminUser %>
        <%= content_tag(:li, link_to("Policy Documents", doppelbock.policies_path)) if can? :index, ::Doppelbock::Policy %>
        <%= content_tag(:li, link_to("Audit Trails", doppelbock.versions_path)) if can? :index, Version %>
        <% if current_doppelbock_user.has_role?(:admin) %>
        <%= content_tag(:li, nil, class: 'divider') %>
        <li>
        <a href="#"><%= content_tag(:b, nil, :class => 'caret-right') %><i class="icon-align-justify"></i> Reports</a>
          <ul class="dropdown-menu sub-menu">
              <%= content_tag(:li, link_to('Companies', doppelbock.products_url(format: 'xlsx'))) %>
              <%= content_tag(:li, link_to('Sales', doppelbock.sales_url(format: 'xlsx'))) %>
              <%= content_tag(:li, link_to('Buyers', doppelbock.buyers_url(format: 'xlsx'))) %>
          </ul>
        </li>
        <% end %>
      </ul>
    </li>
    <li class="divider-vertical"></li>
  </ul>
  <ul class="nav user_menu pull-right">
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle " href="#"><%= current_admin_user.name %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to content_tag(:i, nil, :class => 'icon-user') + ' Account Settings', doppelbock.edit_doppelbock_user_registration_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to content_tag(:i, nil, :class => 'icon-off') + ' Logout', doppelbock.destroy_doppelbock_user_session_path, :method=>'delete' %>
        </li>
      </ul>
    </li>
  </ul>
</div>
<% end %>
<!-- Top Navigation Bar End -->
