<%
  classes = menu_branch_css(local_assigns)
  classes << 'dropdown'

  if !!local_assigns[:apply_css] and classes.any?
    css = "class='#{classes.join(' ')}'".html_safe
  end

  menu_content = menu_branch.title
  menu_url = refinery.url_for(menu_branch.url)
  link_options = {}

   # Does this menu item have children?
  if menu_branch.children.present?
    menu_content += content_tag('b', '', :class => 'caret')
    menu_url = "#"
    link_options = {:class => 'dropdown-toggle', 'data-toggle' => "dropdown"}
  end

-%>

<li<%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %>>
<%= link_to(raw(menu_content), menu_url, link_options) -%>
  <% if ( (children = menu_branch.children unless hide_children).present? &&
          (!local_assigns[:menu_levels] || menu_branch.ancestors.length < local_assigns[:menu_levels]) ) -%>
    <ul class='dropdown-menu'>
      <%= render :partial => '/refinery/menu_branch', :collection => children,
                 :locals => {
                   :apply_css => local_assigns[:apply_css],
                   :hide_children => !!hide_children,
                   :menu_levels => local_assigns[:menu_levels]
                 } -%>
    </ul>
  <% end -%>
</li>
