/*
This is for the "Steps" at the top of the page
*/
#table {
    width: 100%;
}
#step1 {
    float: left;
    width: 15%; /* set to <100% to fit buttons on one line */
}
#step2 {
    float: left;
    width: 30%;
}
#step3 {
    float: left;
    width: 34%;
}
#step4 {
    float: left;
    width: 20%;
}

#fieldSteps{
    height: 100%;
    border-radius: 10px;
}

#padRhyme{ /* this affects the "rhyme" rule" in step two */
    padding-left:50px;
    padding-top:6px;
}

.rhyme{ /* this also affects the "rhyme" rule" in step two */
    padding-left:5px;
    padding-top:6px;
    font-size: 14px;
}

.button{ /* For the "Step One" etc. at the top of the page */
    margin-left: 0px; /* margin between border and window */
    margin-right: 0px;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Helvetica;
    font-size: 14px;
    text-shadow: 1px 1px 0px #d9d9d9;
    padding-top: 5px;
}

.canvasButton{ /* For the "Step One" etc. at the top of the page */
    margin-left: 0px; /* margin between border and window */
    margin-right: 0px;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Helvetica;
    font-size: 12px;
    text-shadow: 1px 1px 0px #d9d9d9;
    padding-top: 5px;
}

.legends{
    font-family: Helvetica;
    font-size: 16px;
    text-shadow: 1px 1px 0px #d9d9d9;
    display: block;
    padding-left: 10px;
    padding-right: 15px;
}


/*
this is for the collage
*/
canvas{
    border: 1px black solid;
    overflow: hidden;
    resize: both;
    height: 40px;
    width: 100px;/*this affect the div around the canvas */
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    border-radius: 10px;
    border-color: #696969;
}

#textCanvas{
    display: none;
}

#canvasFields{
    width: 13.5%;
    border-radius: 10px;
}

#collage{
    position:relative;
    overflow: hidden;
    resize: both;
    height: 100px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
}

#text{
    margin-left: 10px;
    height: auto;
    width: 95%;
    font: Helvetica;
}

#textForm{
    padding-top: 6px;
}

#maxWidth{
    width: 1000px;
}
.canvasBorder{
    display: inline-block;
}

.dragCornerImg{
    box-shadow: 1px 1px 0px #d9d9d9;
    position:relative;
    margin-right: 4px;
    top: 2px

}
/*
.dragCornerImg:hover
{
    opacity:1;
    background:#1ec7e6;
    width:130px;
    height:80px;
    font-size:35px;
}
*/

.mainImage {
    position: absolute;
    top: 50%;
    left: 50%;
}
#imagesMain {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
    -webkit-align-self: center;
    align-self: center;
}
.imagesNorm {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}
.imagesRotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
.imagesRotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}

#otherWords {
    position: absolute;
}