<%	 if advert.product.present? %>
  <div class="business rounded-corners">
    <div class="ribbon"><%= image_tag('ribbon.png') %></div>
    <% if advert.product.document.present? %>
      <%= link_to(image_tag(advert.product.document.url,:size => '130x130'), main_app.advert_path(advert)) %>
    <% end %>
    <div class="info">
      <h3><%= link_to(advert.product.company_type, main_app.advert_path(advert)) %></h3>
      <div class="province"><%= advert.product.location.region.name %></div>
      <div class="clear"></div>
      <hr>
      <p><%= truncate(advert.product.summary, :length => 150, :separator => ' ', :omission => '...') %></p>
      <div class="clear"></div>

      <%#= render :partial => 'shared/home/product_detail_item', :locals => {:value => rands_without_cents(advert.product_price), :label => 'Price'} if advert.product_price.present? %>
      <%#= render :partial => 'shared/home/product_detail_item', :locals => {:value => "#{rands_without_cents(advert.product_annual_net_profit)} pa", :label => 'Adj. Net Profit'} if advert.product_annual_net_profit.present? %>
      <%#= render :partial => 'shared/home/product_detail_item', :locals => {:value => "#{rands_without_cents(advert.product_annual_turnover)} pa", :label => 'Turnover'} if advert.product_annual_turnover.present? %>
      <%#= render :partial => 'shared/home/product_detail_item', :locals => {:value => rands_without_cents(advert.product_total_assets), :label => 'Assets'} if advert.product_total_assets.present? %>
      <%#= render :partial => 'shared/home/product_detail_item', :locals => {:value => rands_without_cents(advert.product_stock), :label => 'Stock'} if advert.product_stock.present? %>

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
