<%= simple_form_for([@advert], :html => { :class => 'form-horizontal' }) do |f| %>
  <%= render :partial => 'doppelbock/shared/form_errors', :locals => { :model => @advert } %>

  <%= f.association :product, :label => "Company for Sale",
        :include_blank => (params[:action] == 'edit' ? false : true) %>
  <%= f.input :ref_number %>
  <%= f.input :active %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', doppelbock.adverts_path, :class => "btn btn-danger" %>
  </div>

<% end %>
