<tr>
  <th width="25%">Name</th>
  <th width="20%">Consultant</th>
  <th width="8%">Ref#</th>
  <th width="7%">Status</th>
  <th width="18%">Summary</th>
  <th width="5%">Description</th>
  <th width="17%">Actions</th>
</tr>
