<!-- Breadcrumb Start -->
<%= content_for :breadcrumbs do %>
  <%= render :partial => 'index_new_breadcrumbs' %>
<% end %>
<!-- Breadcrumb End-->

<% title adverts_page_title(params[:vertical_id]) %>

<!-- Content Start -->
<%= w_box adverts_page_title(params[:vertical_id]) do %>
  <div class="row-fluid">
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= link_to content_tag(:i, nil, :class => 'icon-plus-sign icon-white') + ' Add Advert', doppelbock.new_advert_path, :class => 'btn btn-primary'%>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0;"/>
  <%=
      tag('table', {
          :id => 'adverts_intranet',
          :data => {
              :source   => doppelbock.adverts_data_url(:format => 'json'),
              :pagesize => ::Doppelbock::Settings.page_size || 10
          },
          :class => 'table table-striped table-bordered dTableR'
      }, true)
  %>
  <thead>
    <%= render :partial => 'table_headers' %>
  </thead>
  <tbody>
  </tbody>
  </table>
<% end %>
<!-- Content End -->
