body
{
    background-color: #E8E8E8;
}
#main
{
    background-color: #E8E8E8;
    font-size: 15px;
    color: white;
    text-shadow: 4px 4px 6px #000000, 0 0 25px gray, 0 0 5px gray;
    font-family: Helvetica;
}

table
{
    table-layout: fixed;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    padding: 25px 20px; /* space between table and border */
    border-radius: 20px; /* makes corners rounded */
    background-color: #FAF3F3;
    box-shadow: 12px 14px 37px -4px rgba(0,0,0,0.25);
    
}

td
{
    font-size: 20px;
    font-family: Helvetica;
    box-shadow: 0px 2px 3px #BBB; 
    border-radius: 5px;
    border-color: #FCFCFC;
    width: 50px;
    height: 50px;
}

#login
{
    font-size: 15px;
    color: white;
    text-shadow: 4px 4px 6px #000000, 0 0 25px gray, 0 0 5px gray;
    font-family: Helvetica;
    text-align: right;
}

#tbl_layout
{
    font-family: Helvetica;
    text-align: right;
}