<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <body>
    <div class="container">

      <%= render :partial => 'shared/header' %>

      <%= render :partial => 'shared/search' %>

      <div id="content">

        <% if home_page? %>
          <%= render :partial => 'shared/home_content' %>
        <% else %>
          <div class="row">
            <div class="span9">
              <%= yield %>
            </div>
            <div class="span3 side_content">
              <%= yield :side_content %>
              <%= render :partial => 'refinery/pods/shared/pods' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>

    <%= render :partial => 'shared/footer_top' %>

    <%= render :partial => 'shared/footer_bottom' %>

    <%= render '/refinery/javascripts' %>
  </body>
</html>
