<div id="modal-<%= @product.id.to_s %>" class="modal hide fade">
  <div class="modal-header"><button data-dismiss="modal" class="close">×</button><h3>Description</h3></div>
  <div class="modal-body">
    <%= raw(@product.description) %>
  </div>
  <div class="modal-footer"><a data-dismiss="modal" class="btn" href="#">Close</a></div>
</div>
