<h3>1. History Background</h3>
Fully describe the business's activities?
<h3>2. Present Market</h3>
How does the business operate on a daily basis?
<h3>3. Financial</h3>
Is the business VAT Registered?
<h3>4. Staffing</h3>
What is the total staff complement?
<h3>5. Premises</h3>
When does the current lease end?
<h3>6. Assets</h3>
Is a full asset list on file?
<h3>7. S.W.O.T. Analysis</h3>
Strengths?
<h3>8. Reason For Sale</h3>
What is the reason for the sale?
<h3>9. Conclusion</h3>
Why is this a good business?
