<%= simple_form_for([@product], :html => {:class => 'form-horizontal', :multipart => true},
                    :defaults => { :input_html => { :class => 'span4' } }) do |f| %>
  <%= render :partial => 'doppelbock/shared/form_errors', :locals => {:model => @product} %>

  <%= f.input :name %>
  <%=	f.input :company_type ,:label => "Type" %>
  <%= f.input :trading_as %>
  <%= f.input :mobile %>
  <%= f.input :email %>
  <%= f.input :registration_number %>
  <%= f.input :price %>
  <%= f.input :current_owner %>
  <%= f.input :primary_sector %>
  <%= f.association :location, :input_html => { :class => 'span3' } %>
  <%= f.input :vertical_id, :collection => current_admin_user.divisions,
    :as => :grouped_select, :group_method => :verticals, :input_html => { :class => 'span3' } %>
    <%= f.input :summary, :input_html => { :rows => 5, :class => 'span7' } %>
  <%= f.input :description,
    :input_html => {
      :class => 'wysihtml5 span7',
      :value => params[:action].eql?('edit') ? nil : render('description_template')
    }
  %>
  <%= f.input :annual_net_profit %>
  <%= f.input :total_assets %>
  <%= f.input :stock ,:label => 'Stock Value' %>
  <%= f.input :annual_turnover %>
  <%= f.input :document, :label => 'Logo', :as => :file %>

  <% if @product.document? %>
    <div class="control-group optional">
      <label class="optional control-label">Existing Logo</label>
      <div class="controls">
        <%= image_tag @product.document.url %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', doppelbock.products_path, :class => "btn btn-danger" %>
  </div>

<% end %>



