<%= show_field @product.name, 'Name' %>
<%= show_field @product.company_type, 'Type' %>
<%= show_field @product.trading_as, 'Trading As' %>
<%= show_field @product.mobile, 'Mobile' %>
<%= show_field @product.registration_number, 'Registration Number' %>
<%= show_field @product.price, 'Price' %>
<%= show_field @product.current_owner, 'Current Owner' %>
<%= show_field @product.primary_sector, 'Primary Sector' %>
<%= show_field @product.location.name, 'Location' if @product.location.present? %>
<%= show_field @product.admin_user.name, 'Admin User' if @product.admin_user.present? %>
<%= show_field @product.vertical.name, 'Vertical' if @product.vertical.present? %>
<%= show_field @product.summary, 'Summary' %>
<% unless @product.description.blank? %>
  <h4>Description</h4>
  <p>
    <%= link_to content_tag(:i, nil, :class => 'icon-align-justify'),
      '#modal-' + @product.id.to_s, :class => 'btn btn-mini', :data => {:toggle => 'modal', :backdrop => 'static'} %>
  </p>
  <%= render :partial => 'description_modal' %>
<% end %>
<%= show_field @product.annual_net_profit, 'Annual Net Profit' %>
<%= show_field @product.total_assets, 'Total Assets' %>
<%= show_field @product.stock, 'Stock Value' %>
<%= show_field @product.annual_turnover, 'Annual Turnover' %>
<% if @product.document? %>
  <h4>Company Logo:</h4>
  <p><%= image_tag @product.document.url %></p>
<% end %>
<h3>Shotgun Status</h3>
<hr style="margin-top: 5px; margin-bottom: 5px;"/>
<h4>Consultant:</h4>
<p><%= @product.shotgun_admin_user.try(:name) || '<available to shotgun>' %></p>
<h4>Date:</h4>
<p><%= @product.shotgun_date.nil? ? '<available to shotgun>' : datetime(@product.shotgun_date) %></p>
