/**
 * Warren R. Schmidenberg
 *
 * Computer Science 50
 * Final Project CSS
 *
 */
 
.background {
    display: block;
}

.background:after {
    content: "";
    background: url("../img/study.jpg?v=0");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.container {
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wordShadow {
    text-shadow: 1px 1px 2px grey;
}

.quizHeader {
    font-family: 'Lobster', cursive;
}
.quizNote {
    font-family: 'Bitter', serif;
}

.unstyled {
    text-shadow: none;
}

/* text for login script below login and activate */
.loginText {
    color: black;
    color: rgba(0,0,0, .5); 
    text-shadow: 1px 1px 1px rgba(0,131,255,0);
}


#middle .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
    flex: 1;
}

/* next eight - styles the message alert banner */
#msgWrapper {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    position: fixed;
    margin-top: 7.6em;
    z-index: 1;
}

.msgWrapClass {
    border: 1px solid grey;
    border-radius: 5px; /* makes corners rounded */
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
    background: #EEEEEE;
}

.msgBannerEmpty {
    text-align: center;
    color: white;
}
.msgBannerFull {
    text-align: center;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: fadeRed;
    animation-duration: 4s;
    color: grey;
    border-color: red;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeRed {
    2%  {box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5)}
    3%  {box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 1)}
    100% {box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5)}
    
    2%  {background-color: rgba(255, 255, 255, 0);}
    3%  {background-color: rgba(255, 0, 0, 1);}
    100% {background-color: rgba(255, 255, 255, 0.5);}
}

/* Standard syntax */
@keyframes fadeRed {
    2%  {box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);}
    3%  {box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 1);}
    100% {box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);}

    2%  {background-color: rgba(255, 255,2 55, 0.5);}
    5%  {background-color: rgba(255, 0, 0, 1);}
    100% {background-color: rgba(255, 255, 255, 0.5);}
}

/* four for message banner */
#leftBanner {
    display: inline-block; 
    width: 30%;
    text-align: center;
    border-color: red;
}

#centerBanner {
    display: inline-block; 
    width: 39%;
    text-align: center;
    border-color: red;
}

#rightLogin {
    display: inline-block; 
    text-align: center;
    width: 30%;
    border-color: red;
}

/* next two - used to adjust the login text boxes to red if blank */ 
.highlight {
    border-color: #e60000;
    box-shadow: 0 0 10px #e60000;
}

.highlight:focus {
    outline: none;
    border-color: #e60000;
    box-shadow: 0 0 10px #e60000;
}

/* 8 used to hide header on scroll */
body {
    padding-top: 12em;
}

header {
    height: 7.7em;
    position: fixed;
    top: 0em;
    transition: top 0.2s ease-in-out;
    width: 100%;
    background:url(../img/header.png?v=0) no-repeat;
    background-position: center top;  
    background-color: white;
    z-index:1000;
}

headerRow {
    height: 1.5em;
    position: fixed;
    top: 0em;
    transition: top 1s ease-in-out;
    width: 100%;
    background:url(../img/header_small.png?v=0) no-repeat;
    background-position: center top; 
    background-color: white;
    z-index:1000;
}

.nav-up {
    top: -6.11em;
}

main {
    height: 100%;
}

footer { 
    background: #ddd;
}

.mChoiceOpt {
    border: 1px solid black;
    margin: -1px;
    box-shadow: 0 0 10px white;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    padding-left: 20%;
}

#mChoiceQ {
    border: 1px solid black;
    padding-bottom: 9px;
    margin: -1px;
    box-shadow: 0 0 10px white;
    border-radius: 5px 5px 0px 0px;
}

/* these two are for Quiz homepage */
#firstIn, #thirdIn {
    font-family: 'Playfair Display', serif;
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
    height: 200px;
}

#secondIn, #fourthIn {
    font-family: 'Taviraj', serif;
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
    height: 350px
}

#fifthIn {
    font-family: 'Playfair Display', serif;
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
}

 #sixthIn, #seventhIn {
    font-family: 'Taviraj', serif;
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
}

/* questions page paragraph before button css */
#questionDiv {
    font-family: 'Arima Madurai', cursive;
}

/* override certain bootstrap defaults for buttons */
.btn-default:hover {
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 197px;
    box-shadow:
        inset 0 0 2px 0 rgba(255, 255, 255, .4),
        inset 0 0 3px 0 rgba(0, 0, 0, .4),
        inset 0 0 3px 5px rgba(0, 0, 0, .05),
        5px 6px 12px 0 rgba(0, 0, 0, .24), 0 10px 50px 0 rgba(0, 0, 0, .19)
}

.btn-default {
    width: 197px;
    box-shadow:
        inset 0 0 2px 0 rgba(255, 255, 255, .4),
        inset 0 0 3px 0 rgba(0, 0, 0, .4),
        inset 0 0 3px 5px rgba(0, 0, 0, .05)
}

/* used for results form */
#congrats {
    font-family: 'Bungee Inline', cursive;
    font-size: 100px;
}

/* override certain bootstrap defaults */
#training, #reporting, #userAdministration {
    width: inherit;
    height: 100%;
    background: white;
    box-shadow:
        inset 0 0 2px 0 rgba(255, 255, 255, .4),
        inset 0 0 3px 0 rgba(0, 0, 0, .4),
        inset 0 0 3px 5px rgba(0, 0, 0, .05);
}

#reportPage {
     width: 100%; 
     height: auto; 
     margin: 0 auto;
}

.trainingHeader {
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    text-align: center;
    padding: 10px;
}

.mainHeader {
    font-size: 40px;
}

/* eight for training tabs */
#acc {
    position: fixed;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: .2s ease-in-out;
    border: 1px solid grey;
    border-radius: 5px 5px 0px 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
    background: #EEEEEE;
    padding: 0px 0px 0px 5px;
    width: inherit;
    text-align: left;
}

.tablinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    border-left-style: none;
    background-color: #f1f1f1;
    position: fixed;
    z-index: 1001;
}

.tablinks li {
    float: left;
}

.tablinks a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    transition: top 0.2s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

/* Change background color of links on hover */
.tablinks a:hover {
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

/* Create an active/current tablink class */
.tablinks a:focus {
    background-color: #ccc;
    border-radius: 5px 5px 0px 0px;
}

.active {
    background: #ccc;
    text-shadow: 1px 1px 2px rgba(0, 131, 255, .5);
    border-radius: 5px 5px 0px 0px;
}

/* remove border from top level tabs */
.noMsgBorder {
    border: none;
    background: #EEEEEE;
}

.panel {
    background: #F1F1F1;
    box-shadow: none;
    clear:both;
}

.subTabsTwo {
    position: fixed;
    padding: 0px 0px 0px 20px;
    z-index: 1;
    transition: .2s ease-in-out;
    border: 1px solid grey;
    border-radius: 0px 5px 5px 5px; /* makes corners rounded */
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
    background: #EEEEEE;
}

.tightImage {
    padding: 1em;
    margin: 0 auto;
    width: 100%;
}

.imageIns {
    padding: 1em;
    margin: 0 auto;
}

/* Override bootstrap nav for main tabs */
#bootstrapOverride {
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255,.5);
}

#bootstrapOverride:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* highlight radio answer when ticked in m-choice questions - and change cursor when hover */
input[type=radio]:checked + label, input[type=checkbox]:checked + label {
   text-shadow: 1px 1px 15px rgba(0, 131, 255, 1);
}
input[type=radio]:hover, input[type=checkbox]:hover, label:hover {
    cursor: pointer;
}
input[type=checkbox] {
    vertical-align: top;
    position: relative;
    top: 0px;
    overflow: hidden;
}

/* used for the chart generation - dynamic population */
.chartOn {
    position: relative;
    padding: 5px; 
    margin: 0 auto; 
    border: 1px solid grey;
}

.chartBorder {
    position: relative; 
    width: 1000px; 
    height: 400px; 
    padding: 5px; 
    margin: 0 auto; 
    border: 1px solid grey;
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
}

.chartsHeader {
    position: relative; 
    width: 750px; 
    padding: 5px; 
    margin: 0 auto; 
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
}

.chartsHeaderSmall {
    font-size: 12px;
}

.usersTable {
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
}

.chartsSubHeader {
    position: relative; 
    width: 100%;
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
}

.tablesides {
    box-shadow: 0px 0px 5px 1px rgba(0, 131, 255, .5);
}

.answersTable {
    box-shadow: 0px 0px 5px 5px rgba(214, 233, 248, 1);
    font-size: 10px;
}

.google-visualization-table-tr-over {
    cursor: pointer;
}

.hideAnswers {
    display: none;
}

.notCorrect  {
    color: #ff0000;
}

.correct {
    color: #00ff00;
}


.adminTable
{
    font-size: 12px;
    border-color: blue;
    border-radius: 5px; /* makes corners rounded */
    background-color: #E5E5E5;
    box-shadow: 0px 0px 5px 1px rgba(0,131,255,1);
}

.userAdminHeader {
    position: relative; 
    width: 750px;
    padding: 5px; 
    margin: 0 auto; 
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
}

.companyTumaini {
    box-shadow: 0px 0px 5px 1px rgba(0,255,0,.5);
}

.companyHireResolve {
    box-shadow: 0px 0px 5px 1px rgba(0,0,255,.5);
}

.companyHireResolveUSA {
    box-shadow: 0px 0px 5px 1px rgba(0,0,255,.5);
}

.companyMassStaffingProjects {
    box-shadow: 0px 0px 5px 1px rgba(255,0,0,.5);
}

/* admin.php - header looks differnet from rest of table, but not Company and button header */
th:not(.chartsHeader) {
    background-color: #bcbcbc;
    text-align: center;
}

/* admin.php - remove hyperlink decoration */
.admin_a, .admin_a:hover {
    text-decoration: none;
    color: #333352;
}

/* admin.php - align checkbox with text */
.admin_cbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: top;
  position: relative;
  top: -2px;
  overflow: hidden;
}

/* training.php (in helpers) popup styles */
.popup {
    width:30%;
    height:5%;
    display:none;
    position:relative;
    top: 19em;
    left: 0%;
    text-align: left;
    z-index: 1;
    font-family: 'Playfair Display', serif;
}
 
/* popup inner */
.popup-inner {
    max-width:70000px;
    width:30%;
    padding-top:5%;
    padding-left:5%;
    padding-right:3%;
    padding-bottom:3%;
    position:absolute;
    top:50%;
    left:50%;
    font-size:15px;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,.50);
    border-radius:3px;
    background:#fff;
}
 
/* popup Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.5);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

/* popup close hover */
.popup-close:hover, .popup-close:active {
    background:rgba(0,0,0,1);
    text-decoration: none;
    color:#487cb7;
}